.Weather {
    border: 1px solid #D9DCE0;
    border-radius: 5px;
    padding: 20px;
    font-family:
        Arial,
        sans-serif
}

.Weather h1 {
    margin-bottom: 20px;
}
.Weather form {
    margin-bottom: 20px;
}

.temperature {
    font-size: 48px;
    font-weight: 400;
    padding-left: 10px;
}

.temperature,.unit, .Weather img {
    vertical-align: top ;
}
.unit {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin: 5px 5px;
}
.fahrenheit {
    color: #5e5e5e;
    border-left: 1px solid #5e5e5e;
    padding-left: 10px;
}
.Weather li {
    color: #5e5e5e;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
}

.Weather h3 {
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;

}

.Weather .short-description li {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 20px;
}

.detail {
    display: inline-block;
}

