.Weather {
    border: 1px solid #D9DCE0;
    border-radius: 5px;
    padding: 20px;
    font-family:
        Arial,
        sans-serif
}

.Weather h1 {
    margin-bottom: 20px;
}

.Weather form {
    margin-bottom: 20px;
}

.temperature {
    font-size: 48px;
    font-weight: 400;
    padding-left: 10px;
}

.left .unit {
    position: relative;
    top: -20px;
}

.left {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    gap: 10px;

}

#root>div>div>div>div>div.WeatherInfo>div>div:nth-child(1)>div>canvas {
    height: 50px;
}

.Weather li {
    color: #5e5e5e;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
}

.Weather h3 {
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;

}

.Weather .short-description li {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}